html,body
{
	padding:0px;
	margin:0px;
	overflow-y:hidden;
	overflow-x:hidden;
	height:100%;
}

.container
{
	width:100%;
	height:100%;
	margin:auto;
	display: flex;
	flex-flow:column;
	background-color:#FFFFFF;
}

.menu
{
	font:normal 10px Verdana;
	color:#404040;
	background-color:#DDDDDD;
	border-spacing:0px;
	padding:0px;
	width:100%;
	background:url('/images/light_bg.jpg');
}

.menu thead tr td
{
	padding:3px;
	text-align:center;
	min-width:70px;
	border:1px solid transparent;
}

.menu thead tr td:hover:not(:last-child)
{
	background-color:#E5F3FF;
	border:1px solid #A4CEF9;
	cursor:pointer;
}

.menu thead tr td:last-child
{
	width:100%;
}

.menu thead tr td img
{
	width:40px;
}

.breadcrumb
{
	margin-top:1px;
	border-spacing:0px;
	background-color:#DDDDDD;
	border-spacing:0px;
	width:100;
	background:url('/images/light_bg.jpg');
}

.breadcrumb thead tr td:nth-child(even)
{
	font:normal 24px Verdana;
	border:1px solid transparent;
	padding-bottom:3px;
}

.breadcrumb thead tr td:nth-child(odd)
{
	cursor:pointer;
	font:normal 12px Verdana;
	border:1px solid transparent;
	padding:5px;
	white-space:nowrap;
}

.breadcrumb thead tr td:nth-child(odd):hover
{
	background-color:#E5F3FF;
	border:1px solid #A4CEF9;
}

.breadcrumb thead tr td:last-child
{
	width:100%;
}

.content_container
{
	flex: 1 1 auto;
	border:1px solid #DDDDDD;
	height:100%;
	margin-top:1px;
	overflow-y:scroll;
	overflow-x:hidden;
}

.content
{
	font:normal 12px Verdana;
	color:#404040;
	padding:2px;
	border-spacing:0;
	background-color:#FFFFFF;
}

.content thead
{
	background:#FFFFFF;
	position:fixed;
	margin-top:-2px;
	cursor:pointer;
}

.content thead tr td:nth-child(1)
{
	text-align:center;
	min-width:30px;
	max-width:30px
	line-height:12px;
	border-right:1px solid #C0C0C0;
}

.content thead tr td:nth-child(2)
{
	min-width:20px;
	max-width:20px;
}

.content thead tr td:nth-child(3)
{
	display: table-cell;
	width:100%;
	min-width:200px;
	line-height:12px;
	border-right:1px solid #C0C0C0;
}

.content thead tr td:nth-child(4)
{
	min-width:130px;
	max-width:130px;;
	line-height:12px;
	border-right:1px solid #C0C0C0;
}

.content thead tr td:nth-child(5)
{
	min-width:130px;
	max-width:130px;
	line-height:12px;
	border-right:1px solid #C0C0C0;
}

.content thead tr td:nth-child(6)
{
	min-width:97px;
	max-width:97px;
	line-height:12px;
}

.content tbody tr:first-child td
{
	padding-top:32px;
	vertical-align:text-bottom;
}

.content tbody tr:first-child:hover
{
	background-color:transparent;
	outline:0px;
}

.content tbody tr td:nth-child(1)
{
	text-align:center;
	min-width:30px;
	max-width:30px;
}

.content tbody tr td:nth-child(2)
{
	min-width:20px;
	max-width:20px
}

.content tbody tr td:nth-child(3)
{
	width:100%;
	min-width:195px;
	padding-left:5px
}

.content tbody tr td:nth-child(4)
{
	min-width:126px;
	max-width:126px;
	padding-left:5px
}

.content tbody tr td:nth-child(5)
{
	min-width:126px;
	max-width:126px;
	padding-right:5px;
}

.content tbody tr td:nth-child(6)
{
	min-width:78px;
	max-width:78px;
	text-align:right;
}


.content tbody tr
{
	outline:0px;
	cursor:default;
}

.content tbody tr:hover
{
	background-color:#E5F3FF;
	outline:1px solid #E5F3FF;
}

.contextmenu
{
	display:none;
	position:absolute;
	background:#F2F2F2;
	box-shadow: 4px 4px 6px 0px #656565;
	border:1px solid #000000;
	font:normal 12px Verdana;
}

.contextmenu tbody tr:hover
{
	background-color:#D9D9D9;
	cursor:pointer;
}

.contextmenu tbody tr td
{
	padding:4px;
}

.contextmenu tbody tr td img
{
	height:16px;
	width:16px;
	vertical-align:middle;
	padding-right:10px;
}

@media only screen and (max-width: 500px) 
{
	.content thead tr td:nth-child(4){display:none}
	.content tbody tr td:nth-child(4){display:none}
	.content thead tr td:nth-child(5){display:none}
	.content tbody tr td:nth-child(5){display:none}
	.content thead tr td:nth-child(6){display:none}
	.content tbody tr td:nth-child(6){display:none}
}

@supports (-moz-appearance:none)
{
	.content thead{position:sticky;top:0px;}
	.content tbody tr:first-child td{padding-top:0px;}
}




