body
{
	background:url('/images/light_bg.jpg');
	margin:0px;
}

.dynamictable
{
	border-spacing:0px;
	border-left:1px solid #000000;
	border-top:1px solid #000000;
	font:normal 11px Roboto;
	margin-left:auto;
	margin-right:auto;
	box-sizing: border-box;
	margin-top:90px;
	margin-bottom:41px;
}

.dynamictable thead tr
{
	background-color:#5E79B0;
	color:#FFFFFF;
	cursor:pointer;
	font:bold 14px Roboto;
	text-shadow:1px 1px 1px #000000;
}

.dynamictable thead td
{
	padding:0px;
	height:28px;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	text-align:center;
}

.dynamictable thead td span
{
	margin-top:5px;
	margin-left:4px;
}

.dynamictable thead canvas
{
	fillStyle:#FFFFFF;
	color:#FFFFFF;
	stroke:#000000;
	margin-left:3px;
	margin-right:0px;
	margin-bottom:1px;
}

.dynamictable thead sub
{
	font:bold 10px Roboto;
}

.dynamictable thead input
{
	padding:0px 4px;
	min-width:30px;
}

.dynamictable tbody tr:nth-child(odd) 	
{
	background-color:#FFFFFF;
}

.dynamictable tbody tr:nth-child(odd):hover
{
	background-color:#C8C8C8;
}

.dynamictable tbody tr:nth-child(even)
{
	background-color:#EBF1FF;
}

.dynamictable tbody tr:nth-child(even):hover
{
	background-color:#C8C8C8;
}

.dynamictable tbody td
{
	cursor:default;
	padding-left:5px;
	padding-right:5px;
	height:20px;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	max-width:1px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	font:normal 12px Roboto;
}

.dynamictable tbody td:hover
{
	background-color:#FF8000;
}

.dynamictable_footer
{
	position:fixed;
	text-align:center;
	padding:3px;
	border-left:1px solid #000000;
	border-bottom:1px solid #000000;
	border-right:1px solid #000000;
	background-color:#5E79B0;
	color:#FFFFFF;
	font:500 12px Roboto;
	text-shadow:1px 1px 1px #000000;
	white-space:nowrap;
}

.dynamictable_footer div
{
	padding-top:7px;
	padding-left:2px;
	padding-right:2px;
}

.dynamictable_footer span
{
	margin-top:2px;
	padding:1px;
	background-color:#FFFFFF;
	width:21px;
	color:#000000;
	border:1px solid #000000;
	font:500 12px Roboto;
	cursor:pointer;
	display:inline-block;
	text-shadow:0px 0px 0px #000000;
}

.dynamictable_footer span:hover
{
	color:#FF8000;
}

.marker
{
	color:#FF0000;
}

@media only screen and (min-width: 0px) 
{
	table thead tr:nth-child(2) {display:none}
	.xs {display:table-cell;min-width:90vw; max-width:90vw}
	.xs input {min-width:85vw; max-width:85vw}
	.sm {display:none}
	.md {display:none}
	.lg {display:none}
	.xl {display:none}
}
@media only screen and (min-width: 576px) 
{
	table thead tr:nth-child(2) {display:table-row}
	.xs {display:table-cell;min-width:200px}
	.xs input {min-width:190px;}
	.sm {display:table-cell}
	.dynamictable {box-shadow:5px 6px 5px #000000}
	.dynamictable_footer {box-shadow:5px 6px 5px #000000}
	.dynamictable_smartphone_hide {display:inline}
}
@media only screen and (min-width: 768px) 
{
	.md {display:table-cell}
}
@media only screen and (min-width: 992px) 
{
	.lg {display:table-cell}
}
@media only screen and (min-width: 1200px) 
{
	.xl {display:table-cell}
}

input[type="text"], input[type="search"]
{
	padding:0px;
	margin:0px 10px;
}

button
{
	margin:10px 10px 0px 0px;
	color: #000000;
}

button:active
{
	margin:0px 10px;
	box-shadow:	0px 0px 0px #000000;
}

.norightborder
{
	margin-right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right:0;
	color: #FF0000;
}	
