.editor
{
	border:1px solid #000000;
	box-shadow:	2px 2px 5px #000000;
	font:500 13px Roboto;
	color:#333333;
	margin-bottom:32px;
}

.editor div:nth-child(1)
{
	background:url('/images/dark_bg.jpg');
	border-bottom:1px solid #000000;
	text-align:center;
	color: #FFFFFF;
	padding:8px;
	font:500 14px Roboto;
}

.editor div:nth-child(2)
{
	line-height:30px;
	text-align:right;
	padding:15px;
	background:url('/images/medium_bg.jpg');
}

@media (max-width: 1023px) 
{
	.editor
	{
		margin-bottom:0px;
		border-top:0px;
	}
}
