.icon_modules
{
	background:url('/images/medium_bg.jpg');
	display:inline-block;
	border:1px solid #000000;
	text-align:left;
	box-shadow:2px 2px 10px #000000;
	border-radius:6px;
	font:normal 12px Roboto;
}

.icon_modules div:first-child 
{
	background:url('/images/dark_bg.jpg');
	border-bottom:1px solid #000000;
	border-radius:6px 6px 0 0;
	font:500 14px Roboto;
	color:#FFFFFF;
	padding:6px;
	text-align:center;
}

.icon_modules div:nth-child(2)
{
	background:url('/images/medium_bg.jpg');
	text-align:center;
	padding:8px;
	border-radius:0 0 6px 6px ;
	font:500 12px Roboto;
	color:#333333;
	display:grid;
	grid-column-gap:0px;
	grid-row-gap: 16px;
	justify-items:center;
	align-items:center;
	grid-template-columns: repeat(auto-fit, minmax(84px,1fr));
}

.icon_modules div:nth-child(2) span
{
	min-width:96px;
	text-align:center;
	cursor:pointer;
	font:500 13px Roboto;
}

.icon_modules div:nth-child(2) span img
{
	width:48px;
	height:48px;
	margin-bottom:4px;
	filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.5));
}

.icon_modules div:nth-child(2) span p
{
	position:relative;
	background-color: #FF0000;
	border:1px solid #404040;
	text-shadow: 1px 1px #000000;
	box-shadow: 1px 1px 4px #000000;
	font:bold 12px Roboto;
	color:#FFFFFF;
	padding:3px 7px 3px 7px;
	display:inline-block;
	min-width:20px;
	float:right;
	margin-bottom:-50px;
	border-radius:23px;
	text-align: center;
	top:-86px;
	left:-10px;
}

