.login
{
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.login img
{
	height:100px;
	margin-bottom:20px;
}

.login
{
	font:normal 14px Roboto;
	color:#000000;
	border:1px solid #000000;
	padding:10px 20px;
	background:url('/images/light_bg.jpg');
	box-shadow:3px 3px 15px #000000;
	border-radius:10px;
	text-align:right;
	min-width:320px;
	line-height:40px;
}
