@font-face 
{
	font-family: "Roboto";
	src: url("/css/fonts/Roboto-Light.woff2") format("woff2"), url("/css/fonts/Roboto-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face 
{
	font-family: "Roboto";
	src: url("/css/fonts/Roboto-Regular.woff2") format("woff2"), url("/css/fonts/Roboto-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face 
{
	font-family: "Roboto";
	src: url("/css/fonts/Roboto-Medium.woff2") format("woff2"), url("/css/fonts/Roboto-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face 
{
	font-family: "Roboto";
	src: url("/css/fonts/Roboto-Bold.woff2") format("woff2"), url("/css/fonts/Roboto-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face 
{
	font-family: "Roboto";
	src: url("/css/fonts/Roboto-Black.woff2") format("woff2"), url("/css/fonts/Roboto-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}


body
{
	background:url('/images/light_bg.jpg');
	margin:0px;
	padding:0px;
	font:500 13px Roboto;
	text-align:center;
	width:100%;
	color:#333333;
}

iframe
{
	
}

table
{
	border:0px;
	padding:0px;
	border-spacing:0px;
}

a
{
	color:#000000;
	font-weight:normal;
	text-decoration:none;
}

a:hover
{
	color:#5E79B0;
	font-weight:normal;
	text-decoration:none;
}

input[type="text"], input[type="number"], input[type="password"], input[type="date"], input[type="search"]
{
	height:18px;
	border:1px solid #000000;
	font:normal 13px Roboto;
	background-color:#FFFFFF;
	padding:2px 4px;
	color:#333333;
	width:128px;
}

input[type="text"]:focus, input[type="search"]:focus
{
	outline:0px;
	outline-offset:0px;
}

input[type="password"]:focus
{
	outline:0px;
	outline-offset:0px;
}

button, input[type="submit"]
{
	border:1px solid #000000;
	border-radius:10px;
	height:25px;
	padding-left:10px;
	padding-right:10px;
	font:normal 13px Roboto;
	color:#333333;
	background:linear-gradient(to bottom, #FFFFFF 0%,#CCCCCC 50%,#FFFFFF 100%);
	cursor:pointer;
	box-shadow:	1px 1px 2px #000000;
	outline:0;
}

button:hover, input[type="submit"]:hover
{
	border:1px solid #000000;
	background:linear-gradient(to bottom, #DDDDDD 0%,#AAAAAA 50%,#DDDDDD 100%);
}

button:active, input[type="submit"]:active
{
	box-shadow:	0px 0px 0px #000000;
}

input:disabled
{
	background-color:#E0E0E0;
	color:#808080;
}

select
{
	height:24px;
	border:1px solid #000000;
	font:normal 13px Roboto;
	color:#333333;
	background-color:#FFFFFF;
	width:128px;
}

select:disabled
{
	background-color:#E0E0E0;
	color:#808080;
}

textarea
{
	border:1px solid #000000;
	font:normal 13px Roboto;
	color:#333333;
	background-color:#FFFFFF;
	padding:5px;
	resize:none;
	outline:0;
}

textarea:disabled
{
	background-color:#E0E0E0;
	color:#808080;
}

hr
{
	border-top:1px solid #000000;
	border-bottom:0;
}

.unstyled::-webkit-outer-spin-button, .unstyled::-webkit-inner-spin-button
{
	-webkit-appearance: none;
	margin: 0;
}

.unstyled[type="number"] 
{
	-moz-appearance: textfield;
}

.unstyled::-webkit-calendar-picker-indicator
{
	display: none;
	-webkit-appearance: none;
}

.wait
{
	cursor:wait !important;
}

.curtain
{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000000;
	opacity:0.8;
	z-index:998;
	overflow:hidden;
}

.alert
{
	display:flex;
	justify-content: center;
	align-items: center;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:999;
	overflow:hidden;
}

.alert div
{
	background:#FFFFFF;
	border:1px solid #000000;
	padding:15px;
	border-radius:6px;
}

.grid_container
{
	display:grid;
	padding:32px;
	grid-gap:32px;
	justify-items:center;
	align-items:center;
	grid-template-columns: repeat(auto-fit, minmax(346px, 1fr));
}

.flex_container
{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	align-items:flex-start;
	align-content:space-around;
	padding-top:32px;
}

.module
{
	background:url('/images/medium_bg.jpg');
	display:inline-block;
	border:1px solid #000000;
	text-align:left;
	box-shadow:2px 2px 10px #000000;
	border-radius:6px;
	font:normal 12px Roboto;
}

.module div:first-child 
{
	background:url('/images/dark_bg.jpg');
	border-bottom:1px solid #000000;
	border-radius:6px 6px 0 0;
	font:500 14px Roboto;
	color:#FFFFFF;
	padding:6px;
	text-align:center;
}

.module div:nth-child(2)
{
	background:url('/images/medium_bg.jpg');
	text-align:center;
	padding:8px;
	border-radius:0 0 6px 6px ;
	font:500 13px Roboto;
	color:#333333;
	align-items:center;
}

@media (max-width: 840px) 
{
	.flex_container
	{
		padding:0;
	}
}

.editing
{
	color:#FF0000 !important;
	border-color: #FF0000 !important;
}

.notification
{
	min-width:300px;
	max-width:300px;
	margin-left:-166px;
	background-color:#EEEEEE;
	color:#fff;
	text-align:center;
	border:1px solid #000000;
	border-radius:2px;
	padding:16px;
	position:fixed;
	z-index:1;
	left:50%;
	bottom:30px;
	font-size:16px;
	animation:notification_fadein 0.5s, notification_fadeout 0.5s 2.5s;
}

@keyframes notification_fadein 
{
	from {bottom:0; opacity: 0;}
	to {bottom:30px; opacity: 1;}
}

@keyframes notification_fadeout 
{
	from {bottom:30px; opacity: 1;}
	to {bottom:0; opacity: 0;}
}

@keyframes rotation 
{
	from {transform: rotate(0deg);}
	to {transform: rotate(359deg);}
}