.statictable
{
	border-collapse:collapse;
	color:#333333;
	margin:auto;
}

.statictable td
{
	border:1px solid #000000;
	padding:3px;
}

.statictable thead
{
	font:bold 12px Roboto;
	background-color:#5E79B0;	
	color:#FFFFFF;
}

.statictable thead tr
{
	height:24px;
}

.statictable tbody
{
	font:normal 11px Roboto;
}

.statictable tbody tr
{
	height:24px;
}

.statictable tbody tr:nth-child(even)
{
	background-color:#EBF1FF;
}

.statictable tbody tr:nth-child(odd)
{
	background-color:#FFFFFF;
}

.statictable tfoot
{
	font:normal 11px Roboto;
	background-color:#5E79B0;	
	color:#FFFFFF;
}
