.tabs
{					
	padding-top:10px;
	text-align:center;
	background:url('/images/medium_bg.jpg');
}

.tabs input[type=checkbox], input[type=checkbox] label, input[type=radio]
{
	display:none;
}

.tabs input[type=radio] + label
{
	background:#FFFFFF;
	display:inline-block;
	border-radius:6px 6px 0px 0px;
	height:12px;
	border:1px solid #000000;
	font:500 13px Roboto;
	padding:7px;
	cursor:pointer;
}

.tabs input[type=radio] + label:hover
{
	color:#5E79B0;
}


.tabs input[type=radio]:checked + label
{
	background:#5E79B0;
	color:#FFFFFF;
	box-shadow:	2px -1px 3px #000000;
	border-radius:6px 6px 0px 0px;
	height:13px;
	border-bottom:0px;
	font:500 13px Roboto;
	padding:7px;
	cursor:pointer;
}

.tab_separator
{
	height:20px;
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
	background:linear-gradient(to bottom, #5E79B0 20%,#EBF1FF 50%,#5E79B0 80%);
	margin-top:-1px;
}

@media (max-width: 1024px) 
{
	.tabs
	{					
		padding-top:0px;
	}
	
	.tabs input[type=checkbox] + label
	{
		display:inline-block;
		position:fixed;
		left:4px;
		top:4px;
		width:30px;
		height:30px;
		background:url('/lib/fontawesome/bars.svg') no-repeat center center;
		cursor:pointer;
	}
	
	.tabs input[type=checkbox]:checked + label
	{
		background-image:url('/lib/fontawesome/times.svg');
	}
	
	.tabs input[type=checkbox] ~ input[type=radio] + label
	{
		display:none;
		height:22px;
		font-size:20px;
		box-shadow:none;
		border-width:1px 0px 0px 0px;
		border-radius:0;
	}
	
	.tabs input[type=checkbox] ~ input[type=radio]:checked + label
	{
		display:block;
	}
	
	.tabs input[type=checkbox]:checked ~ input[type=radio] + label
	{
		display:block;
	}
}