.window
{
	display:flex;
	justify-content:center;
	align-items:center;
	position:fixed;
	width:100%;
	height:100%;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
	z-index:999;
	overflow:hidden;
	border:1px solid #000000;
}

.window_titlebar
{
	position:absolute;
	border:0;
	top:0;
	left:0;
	width:100%;
	font:bold 20px Roboto;
	color:#FFFFFF;
	text-shadow:2px 2px 3px #000000;
	background:linear-gradient(to right, #5E79B0, #EBF1FF);
	height:28px;
	border-left:0;
	border-right:0;
	border-bottom:1px solid #000000;
	text-align:center;
}

.window_content
{
	position:absolute;
	border:0;
	left:0;
	top:29px;
	width:100%;
	height:100%;
}

.window_minimize_button
{
	position:absolute;
	top:3px;
	right:78px;
	width:26px;
	height:18px;
	border-top:1px solid #6D6D6D;
	border-right:0px;
	border-bottom:1px solid #6D6D6D;
	border-left:1px solid #6D6D6D;
	border-radius:3px 0px 0px 3px;
	background:linear-gradient(to bottom, #BDCDE3 50%, 57%, #6986B5 90%);
	box-shadow:	1px 1px 1px #000000;
	cursor:pointer;
}

.window_minimize_button:hover
{
	background:linear-gradient(to bottom, #98C7FA 50%, 57%, #1E72DE 90%);
}

.window_minimize_button:active
{
	background:linear-gradient(to bottom, #96A0C8 50%, 57%, #194269 90%);
}

.window_restore_button
{
	visibility:hidden;
	position:absolute;
	top:3px;
	right:52px;
	width:26px;
	height:18px;
	border-top:1px solid #6D6D6D;
	border-right:0px;
	border-bottom:1px solid #6D6D6D;
	border-left:1px solid #6D6D6D;
	border-radius:2px 2px 2px 2px;
	background:linear-gradient(to bottom, #BDCDE3 50%, 57%, #6986B5 90%);
	box-shadow:	1px 1px 1px #000000;
	cursor:pointer;
}

.window_restore_button:hover
{
	background:linear-gradient(to bottom, #98C7FA 50%, 57%, #1E72DE 90%);
}

.window_restore_button:active
{
	background:linear-gradient(to bottom, #96A0C8 50%, 57%, #194269 90%);
}

.window_maximize_button
{
	position:absolute;
	top:3px;
	right:52px;
	width:26px;
	height:18px;
	border-top:1px solid #6D6D6D;
	border-right:0px;
	border-bottom:1px solid #6D6D6D;
	border-left:1px solid #6D6D6D;
	border-radius:2px 2px 2px 2px;
	background:linear-gradient(to bottom, #BDCDE3 50%, 57%, #6986B5 90%);
	box-shadow:	1px 1px 1px #000000;
	cursor:pointer;
}

.window_maximize_button:hover
{
	background:linear-gradient(to bottom, #98C7FA 50%, 57%, #1E72DE 90%);
}

.window_maximize_button:active
{
	background:linear-gradient(to bottom, #96A0C8 50%, 57%, #194269 90%);
}

.window_close_button
{
	position:absolute;
	top:3px;
	right:5px;
	width:46px;
	height:18px;
	border-top:1px solid #6D6D6D;
	border-right:1px solid #6D6D6D;
	border-bottom:1px solid #6D6D6D;
	border-left:1px solid #6D6D6D;
	border-radius:0px 3px 3px 0px;
	background:linear-gradient(to bottom, #E0A6A5 50%, 57%, #C24032 90%);
	box-shadow:	1px 1px 1px #000000;
	cursor:pointer;
}

.window_close_button:hover
{
	background:linear-gradient(to bottom, #E66414 50%, 57%, #AA210C 90%);
}

.window_close_button:active
{
	background:linear-gradient(to bottom, #C88D78 50%, 57%, #962C0D 90%);
}